<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.diegomrosa.intentional"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <application android:label="@string/app_name" android:icon="@drawable/icon">

        <activity android:name=".HomeActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FieldDetailsActivity" />

        <activity android:name=".ViewIntentActivity">
            <intent-filter>

                <!-- Standard categories. -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.TAB" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.INFO" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.TEST" />
                <category android:name="android.intent.category.CAR_DOCK" />
                <category android:name="android.intent.category.DESK_DOCK" />
                <category android:name="android.intent.category.LE_DESK_DOCK" />
                <category android:name="android.intent.category.HE_DESK_DOCK" />
                <category android:name="android.intent.category.CAR_MODE" />
                <category android:name="android.intent.category.APP_MARKET" />

                <!-- Standard activity actions. -->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.ATTACH_DATA" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <!-- <action android:name="android.intent.action.CHOOSER" /> -->
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.ANSWER" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.DELETE" />
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.action.SYNC" />
                <action android:name="android.intent.action.PICK_ACTIVITY" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.FACTORY_TEST" />

                <!-- Match intents with any mime type. -->
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>

                <!-- Standard categories. -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.TAB" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.INFO" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.TEST" />
                <category android:name="android.intent.category.CAR_DOCK" />
                <category android:name="android.intent.category.DESK_DOCK" />
                <category android:name="android.intent.category.LE_DESK_DOCK" />
                <category android:name="android.intent.category.HE_DESK_DOCK" />
                <category android:name="android.intent.category.CAR_MODE" />
                <category android:name="android.intent.category.APP_MARKET" />

                <!-- Standard activity actions. -->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.ATTACH_DATA" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <!-- <action android:name="android.intent.action.CHOOSER" /> -->
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.ANSWER" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.DELETE" />
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.action.SYNC" />
                <action android:name="android.intent.action.PICK_ACTIVITY" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.FACTORY_TEST" />

                <!-- Match intents with content, file, and web schemes but no mime type. -->
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>

                <!-- Standard categories. -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.TAB" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.INFO" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.TEST" />
                <category android:name="android.intent.category.CAR_DOCK" />
                <category android:name="android.intent.category.DESK_DOCK" />
                <category android:name="android.intent.category.LE_DESK_DOCK" />
                <category android:name="android.intent.category.HE_DESK_DOCK" />
                <category android:name="android.intent.category.CAR_MODE" />
                <category android:name="android.intent.category.APP_MARKET" />

                <!-- Standard activity actions. -->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.ATTACH_DATA" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <!-- <action android:name="android.intent.action.CHOOSER" /> -->
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.ANSWER" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.DELETE" />
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.action.SYNC" />
                <action android:name="android.intent.action.PICK_ACTIVITY" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.FACTORY_TEST" />

                <!-- Match intents with no data. -->
            </intent-filter>
        </activity>

        <activity android:name=".BookmarksActivity" />
    </application>
</manifest>
